/*  your css code here. If applicable */
.box{
	border:2px solid black;
	width:200px;
	height:200px;
	text-align:center;
	align-content:center;
	background-color:lightblue;
	color:purple;
		position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
